<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking for {{competition}} || GUDLFT</title>
</head>
<body>
    <h2>{{competition}}</h2>
    Places available: {{found_places["numberOfPlaces"]}}
    <form action="/purchase_places" method="post">
        <input type="hidden" name="club" value="{{club}}">
        <input type="hidden" name="competition" value="{{competition}}">
        <label for="places">How many places?</label><input type="number" name="places" id=""/>
        <button type="submit">Book</button>
    </form>
</body>
</html>
