<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of clubs and their points</title>
</head>
<body>
        <h2>List of clubs and their points</h2>
    <h3>Clubs:</h3>
    <ul>
        {% for club in clubs%}
        <li>
            {{club['name']}}<br />
            Points available: {{club['points']}}
        </li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('get_back_to_welcome_page')}}">Back to welcome page</a>
</body>
</html>
